body {
	width: 100%;
}

html {
	width: 100%;
}

a {
	text-decoration: none;
}

.container {
	margin: 0;
}

/* about page */
/* section 1 */
.about-the-mvpshop {
  width: 1400px;
  margin: auto;
  border: 1px solid red;
  padding: 40px;
}

#about-the-mvpshop, #meet-the-crew {
  width: 800px;
}

#about-the-mvpshop h2, #meet-the-crew h2  {
  text-align: center;
}

/* section 2 */
.meet-the-crew {
  width: 1400px;
  margin: auto;
  border: 1px solid red;
  padding: 40px;
}

/* section 3 */
.crew-cards {
  width: 1400px;
  margin: auto;
  border: 1px solid red;
}

.crew-image {
  height: 25vh;
}

.card {
	width: 350px; 
  height: 450px;
  margin: auto;
	margin-bottom: 20px;
}

/* footer */
.about-page-footer {
  border: red 1px solid;
  width: 1400px;
  margin: auto;
}

.footer-container {
	padding-top: 25px;
}

.footer-container div {
  align-content: space-between;
}

.mvpshoplogo-footer {
  padding-top: 25px;
	padding-left: 80px;
	color: black;
}

.footer-titles {
  font-weight: bold;
  padding-bottom: 15px;
}

.copyright {
  font-size: small;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 250px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .crew-cards {
    width: 700px;
    border: blue 1px solid;
  }
  .card {
    width: 250px;
  }
  .about-the-mvpshop, .meet-the-crew {
    width: 700px;
    border: blue 1px solid;
  }
  .about-page-footer {
    border: blue 1px solid;
    width: 700px;
  }
}

