body {
	width: 100%;
}

html {
	width: 100%;
}

a {
	text-decoration: none;
}

.container {
	margin: 0;
}

#about-page-nav {
	height: 10vh;
	/* width: 100%; */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: #32A0ED;
}

#p1 {
	padding-left: 60px;
}

.section-1-content {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	margin: auto;
  /* width: 50%; */
  /* padding: 10px; */
}

/* .section-1-content div {
	justify-content: space-between;
} */

.mvpshoplogo {
	padding-top: 25px;
	padding-left: 60px;
	color: white;
}

.nav-container {
	align-items: center;
	padding-top: 25px;
}

.nav-container a {
	color:white;
}

#about-page-info {
  height: 40vh;
  width: 60%;
}

#meet-the-crew {
  
}

.meet-the-crew {
  background-color: rgb(209, 231, 245);
  font-size: 30px;
}

#crew-cards {
  padding-left: 80px;
  padding-right: 80px;
}
.crew-image {
  height: 30vh;
}

/* footer */
#about-page-footer {
	background-color: white;
}

.footer-container {
	padding-top: 25px;
}

.footer-container div {
  align-content: space-between;
}

.mvpshoplogo-footer {
  padding-top: 25px;
	padding-left: 80px;
	color: black;
}

.footer-titles {
  font-weight: bold;
  padding-bottom: 15px;
}

.copyright {
  font-size: small;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 250px;
}
