.container {
	margin: 0;
}


/* form */

form {
  border: 1px solid black;
  height: 400px;
  text-align: center;
}

.form-contents {

}


.form-input {
  border-radius: 15px;
}

.form-title {
  text-align: center;
  color:rgb(14, 129, 223);
}

.submit-button {
  border-radius: 15px;
  width: 200px;
}

.contact-image {
  width: 600px;
}












/* footer */
.about-page-footer {
  border: 1px solid red;
  margin: auto;
}

.footer-container {
	padding-top: 25px;
}

.footer-container div {
  align-content: space-between;
}

.mvpshoplogo-footer {
  padding-top: 25px;
	padding-left: 80px;
	color: black;
}

.footer-titles {
  font-weight: bold;
  padding-bottom: 15px;
}

.copyright {
  font-size: small;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 250px;
}
