body {
	width: 100%;
	
}

html {
	width: 100%;
}


a {
	text-decoration: none;
}

.container {
	margin: 0;
}

#landing-page-1 {
	height: 100vh;
	/* width: 100%; */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: #32A0ED;
	background-image: url("./MVPwebsite/img/illo01.png");
}

#p1 {
	padding-left: 60px;
}

.section-1-content {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	margin: auto;
  /* width: 50%; */
  /* padding: 10px; */
}

/* .section-1-content div {
	justify-content: space-between;
} */



.mvpshoplogo {
	padding-top: 25px;
	padding-left: 60px;
	color: white;
}

.nav-container {
	align-items: center;
	padding-top: 25px;
}

.nav-container a {
	color:white;
}

/* button */
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


#landing-page-2 {
	height: 80vh;
	width: 100%;
	
}

.top-container {
	margin: auto;
	height: 40%;
	width: 80%;
	
}

.container-items {
	text-align: center;
	width: 100%;
}

#landing-page-3 {
	height: 100vh;
	width: 80%;
}

.section-3-container {
	background-color: lightgreen;
	height: 90%;
	width: 100%;
}

#landing-page-4 {
	height: 70vh;
	width: 100%;
}

.portfolio  {
	text-align: center;
}

.portfolio-links, .portfolio-links-focus {
	color: black;
}

.portfolio-load-btn {
	text-align: center;
	width: 10%;
	border-radius: 20px;
	color: white;
}

#landing-page-5 {
	height: 50vh;
}

.get-quote-btn {
	border-radius: 20px;
	color: white;
}

#landing-page-6 {
	height: 80vh;
}

.landing-page-6-container {
	height: 80%;
	width: 70%;
	/* background-color: #32A0ED; */
	background: rgb(50,160,237);
	background: linear-gradient(90deg, rgba(50,160,237,1) 0%, rgba(50,230,237,1) 50%, rgba(50,237,207,1) 100%);
	border-radius: 15px;
}

.check-the-process {
	text-align: center;
	height: 20%;
	width: 80%;
	color: white;
}

.check-the-process-btn {
	height: 100px;
}

.check-the-process-btn button {
	/* height: 45%;
	width: 10%; */
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.plus-btn {
	display: inline-block;
	width: 40px;
	height:40px;
	margin-right: 3rem;
	background:
	/* linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    #000; */
	linear-gradient(#32ECD1, #32ECD1),
	linear-gradient(#32ECD1, #32ECD1),
	#fff;

	background-position:center;
  	background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  	background-repeat:no-repeat;
	border-radius: 50%;
	cursor: pointer;
}

.check-the-process-btn button:focus {
	background-color: white;
	color: #32A0ED;
}

#landing-page-7 {
	height: 100vh;
	background-image: url('./MVPwebsite/img/illo06.png');
	background-size: contain;
	background-repeat: no-repeat;
	
}

.design-refinement-row {
	height: 50px;
}

.design-refinement-icon {
	margin-right: 3rem;
}

#landing-page-8 {
	background-color: white;
  }
  .footer-container {
	padding-top: 25px;
  }
  .footer-container div {
	align-content: space-between;
  }
  .mvpshoplogo-footer {
	padding-top: 25px;
	padding-left: 80px;
	color: black;
  }
  .footer-titles {
	font-weight: bold;
	padding-bottom: 15px;
  }
  .copyright {
	font-size: small;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 250px;
  }