html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 
body {
	line-height: 1;

}

a {
	text-decoration: none;
}


/* #landing-page-1 {
	height: 100vh;
	background-image: url('./MVPwebsite/img/illo01.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right; 
	background-attachment: fixed;
	background-color: #32A0ED; 
} */

#landing-page-1 {
	height: 100vh;
	background: rgba(67,177,247,1);
	background-image: url("./MVPwebsite/img/illo01.png"), linear-gradient(153deg, rgba(67,177,247,1) 0%, rgba(53,240,216,1) 100%);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
}

.get-started-btn {
	border-radius: 55px;
	background-color: white;
	height: 35px;
	/* color: rgba(0,0,0,0.5) */
	
}


#landing-page-2 {
	/* height: 100vh; */
	background-color: #fff;
}

.section-container-align-text {
	text-align: center;
}

.case-studies-align {
	text-align: center;
}


#landing-page-3 {
	/* height: 100vh; */
}

/* .btn-style {
	background-color: #ddd;
	width: 10%;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;

} */

.portfolio-cards {
	width: 18rem;
}



.float-this {
	float: right;
	background-color: transparent;
	border: none;
}

.portfolio-links {
	color: black;
}


#landing-page-4 {
	height: 80vh;
	background-color: #fff;
}

#landing-page-5 {
	
}

.landing-page-5-main-container {
	background: rgb(50,160,237);
	
	width: 80%;
	margin: auto;
	background: linear-gradient(90deg, rgba(50,160,237,1) 0%, rgba(50,230,237,1) 75%, rgba(50,237,207,1) 100%);
	border-radius: 15px;
}

.landing-page-5-row1 {
	width: 80%;
	text-align: center;
	color: #fff;
}
.landing-page-5-row2 {
	width: 80%;
	text-align: center;
	color: #fff;
	
}

.landing-page-5-btns {
	border-radius: 50%;
}


.landing-page-5-row3 {
	width: 80%;
	text-align: center;
	color: #fff;
	background: black;
}

/* Responsive Box */
#process {
	background: rgb(67,177,247);
  	background: linear-gradient(153deg, rgba(67,177,247,1) 0%, rgba(53,240,216,1) 100%);
	text-align: center;
	color: white;
	margin:auto;
	border-radius: 6px;
	padding:20px;
  }
  
  #flexit {
	display:flex;
	flex-direction: column;
  }
  
  #fourStep {
	width:80%;
	margin-top:60px;
	margin:auto;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .numba {
	width: 50px;
	height: 50px;
	border:2px solid white;
	border-radius: 50px;
	padding-top:12px;
  }
  
  .numba:hover {
	width: 50px;
	height: 50px;
	border:2px solid white;
	border-radius: 50px;
	padding-top:12px;
	background:white;
	color: rgba(67,177,247,1);
	cursor: pointer;
	
  }
  
  .line {
	width:50px;
	height:.5px;
	background: white;
	border:1px solid white;
  }
  
  .selected {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background:white;
	color: rgba(67,177,247,1);
  }
  
  .hideit {
	display: none;
  }
  
  #stepText {
	display: flex;
  }
  
  @media screen and (max-width: 768px) {
	#flexit {
	  flex-direction: row;
	}
	
	#fourStep, #stepText {
	  flex-direction: column;
	}
	
	.line {
	  height:25px;
	  width:.5px;
	  background: white;
	  border:1px solid white;
	}
  }
/* Responsive Box End */


#landing-page-6 {
	height: 100vh;
	background-color: #fff;
	background: url('./MVPwebsite/img/illo06.png');
	background-size: cover;
	/* background-size: contain; */
	background-repeat: no-repeat;
}

/* footer */
.about-page-footer {
	margin: auto;
  }
  
  .footer-container {
	  padding-top: 25px;
  }
  
  .footer-container div {
	align-content: space-between;
  }
  
  .mvpshoplogo-footer {
	padding-top: 25px;
	padding-left: 80px;
	color: black;
  }
  
  .footer-titles {
	font-weight: bold;
	padding-bottom: 15px;
  }
  
  .copyright {
	font-size: small;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 250px;
  }


@media screen and (max-width: 576px) {
	#landing-page-1 {
		background: rgb(67,177,247);
  		background: linear-gradient(153deg, rgba(67,177,247,1) 0%, rgba(53,240,216,1) 100%);
	}

	.flex-this {
		display: inline-flex;
		align-self: start;
	}


	.about-page-footer {
		display: none;
	}
	
}