html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 
body {
	line-height: 1;

}

a {
	text-decoration: none;
}


#landing-page-1 {
	height: 100vh;
	background-color: grey;
	background-image: url('./MVPwebsite/img/illo01.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right; 
	background-attachment: fixed;
	background-color: #32A0ED; 
	 
}
#landing-page-2 {
	/* height: 100vh; */
	background-color: #fff;
}

.section-container-align-text {
	text-align: center;
}

.case-studies-align {
	text-align: center;
}


#landing-page-3 {
	/* height: 100vh; */
}

.portfolio-links {
	color: black;
}


#landing-page-4 {
	height: 100vh;
	background-color: #fff;
}

#landing-page-5 {
	
}

.landing-page-5-main-container {
	background: rgb(50,160,237);
	
	width: 80%;
	margin: auto;
	background: linear-gradient(90deg, rgba(50,160,237,1) 0%, rgba(50,230,237,1) 75%, rgba(50,237,207,1) 100%);
	border-radius: 15px;
}

.landing-page-5-row1 {
	width: 80%;
	text-align: center;
	color: #fff;
}
.landing-page-5-row2 {
	width: 80%;
	text-align: center;
	color: #fff;
	
}

.landing-page-5-btns {
	border-radius: 50%;
}


.landing-page-5-row3 {
	width: 80%;
	text-align: center;
	color: #fff;
	background: black;
}


#landing-page-6 {
	height: 100vh;
	background-color: #fff;
	background: url('./MVPwebsite/img/illo06.png');
	background-size: contain;
	background-repeat: no-repeat;
}

/* footer */
.about-page-footer {
	margin: auto;
  }
  
  .footer-container {
	  padding-top: 25px;
  }
  
  .footer-container div {
	align-content: space-between;
  }
  
  .mvpshoplogo-footer {
	padding-top: 25px;
	padding-left: 80px;
	color: black;
  }
  
  .footer-titles {
	font-weight: bold;
	padding-bottom: 15px;
  }
  
  .copyright {
	font-size: small;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 250px;
  }

@media only screen and (max-width: 775px) {

	
}